[project]
	description = gerrit test
[access "refs/*"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group gerrit_test_developer
	read = group gerrit_test_manager
	read = group gerrit_test_owner
	read = block group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group gerrit_test_manager
	label-Code-Review = -2..+2 group gerrit_test_owner
	label-Code-Review = -1..+1 group gerrit_test_developer
	submit = group gerrit_test_manager
	submit = group gerrit_test_owner
	exclusiveGroupPermissions = label-Code-Review push submit
	push = group gerrit_test_manager
	push = +force group gerrit_test_owner
[access "refs/meta/config"]
	exclusiveGroupPermissions = push
	push = group gerrit_test_manager
	push = +force group gerrit_test_owner
